
@media (orientation: portrait) {
    body{
        background: radial-gradient(black, blueviolet) no-repeat;
        background-size: auto 100vh;
    }
}

@media (orientation: landscape) {
    body{
        display: f;
        background-color: #ff7676;
    }
} 

.STableStyle{
    padding: 0px;
    color: red;
    
}
